$ui-primary: hsla(120, 100%, 95%, 1); /* White-Green */
$ui-secondary: hsla(120, 75%, 95%, 1); /* White-Green */
$ui-tertiary: hsla(120, 50%, 90%, 1); /* White-Green */

$ui-modal-overlay: hsla(120, 100%, 65%, 0.9); /* White-Green */

$ui-white: hsla(120, 100%, 100%, 1); /* White-Green */
$ui-white-dim: hsla(120, 100%, 100%, 0.75); /* White-Green */
$ui-white-transparent: hsla(120, 100%, 100%, 0.25); /* White-Green */
$ui-transparent: hsla(120, 100%, 100%, 0); /* White-Green */

$ui-black-transparent-default: hsla(120, 0%, 0%, 0.15); /* White-Green */
$ui-black-transparent: hsla(120, 0%, 0%, 0.15); /* White-Green */

$text-primary: hsla(120, 15%, 40%, 1); /* White-Green */
$text-primary-transparent: hsla(120, 15%, 40%, 0.75); /* White-Green */

$motion-primary: hsla(120, 100%, 50%, 1); /* White-Green */
$motion-tertiary: hsla(120, 100%, 39%, 1); /* White-Green */
$motion-transparent: hsla(120, 100%, 50%, 0.35); /* White-Green */
$motion-light-transparent: hsla(120, 100%, 39%, 0.15); /* White-Green */

$motion-primary-dark: hsla(120, 100%, 50%, 1); /* White-Green */
$ui-primary-light: hsla(120, 100%, 95%, 1); /* White-Green */
$ui-secondary-light: hsla(120, 75%, 95%, 1); /* White-Green */
$ui-tertiary-light: hsla(120, 50%, 90%, 1); /* White-Green */
$text-primary-light: hsla(120, 15%, 40%, 1); /* White-Green */

$red-primary: hsla(120, 100%, 50%, 1); /* White-Green */
$red-tertiary: hsla(120, 100%, 39%, 1); /* White-Green */

$sound-primary: hsla(120, 53%, 60%, 1); /* White-Green */
$sound-tertiary: hsla(120, 48%, 50%, 1); /* White-Green */

$control-primary: hsla(120, 100%, 55%, 1); /* White-Green */

$data-primary: hsla(120, 100%, 55%, 1); /* White-Green */

$pen-primary: hsla(120, 85%, 40%, 1); /* White-Green */
$pen-transparent: hsla(120, 85%, 40%, 0.25); /* White-Green */

$error-primary: hsla(120, 100%, 55%, 1); /* White-Green */
$error-light: hsla(120, 100%, 70%, 1); /* White-Green */
$error-transparent: hsla(120, 100%, 55%, 0.25); /* White-Green */

$extensions-primary: hsla(120, 100%, 50%, 1); /* White-Green */
$extensions-tertiary: hsla(120, 100%, 39%, 1); /* White-Green */
$extensions-transparent: hsla(120, 100%, 50%, 0.35); /* White-Green */
$extensions-light: hsla(120, 100%, 39%, 1); /* White-Green */

$drop-highlight: hsla(120, 100%, 77%, 1); /* White-Green */
